# Production environment file for deployment

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgres://postgres.[your-supabase-project]:[password]@aws-0-[aws-region].pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations.
DIRECT_URL="postgres://postgres.[your-supabase-project]:[password]@aws-0-[aws-region].pooler.supabase.com:5432/postgres"

# Authentication
GOOGLE_CLIENT_ID='<GOOGLE_CLIENT_ID>'
GOOGLE_CLIENT_SECRET='<GOOGLE_CLIENT_SECRET>'

# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET='<AUTH_SECRET>'
AUTH_TRUST_HOST='http://localhost:3000'

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY='pk_12345'
STRIPE_SECRET_KEY='sk_12345'
STRIPE_WEBHOOK_SECRET='<STRIPE_WEBHOOK_SECRET>'

# SST
AWS_SECRET_ACCESS_KEY='<AWS_SECRET_ACCESS_KEY>'
AWS_ACCESS_KEY_ID='<AWS_ACCESS_KEY_ID>'